.register-background {
    background: linear-gradient(135deg,rgb(182, 231, 238)0%, rgb(176, 240, 147) 100%);
    height: 100vh;

    .login-container {
        // width: 400px;
        // margin: auto;
        // position: absolute;
        // border-radius: 10px;
        // border: 1px solid black;
        // background-color: white;
        // font-weight: 600;
        // height: 550px;
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
        align-items: center;
            background-color: rgb(var(--ig-primary-background));
            border: 1px solid black rgb(var(--ig-elevated-separator));
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            font: inherit;
            font-size: 100%;
            margin: 0 0 10px;
            padding: 10px 0;
            position: relative;
            vertical-align: baseline;

        .login-contain {
            padding: 50px;

            .text-login {
                text-align: center;
                font-size: 240;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .input-login {
                margin: 7px 0;
            }

            .btn-login {
                width: 50%;
                margin: 10px 0;
                border-radius: 10px;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1)100%);
                border: none;
                color: wheat;
            }
            .err{
                font-size: 11px;
            }
        }
    }
}