
.nav-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(2, 2, 0, 0.4);
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.nav-admin .brand {
    float: left;
    height: 100%;
    line-height: 80px;
}

.nav-admin .brand h2 {
    margin: 20px;
    padding: 0;
    color: blue;
}


.nav-admin ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-admin ul li {
    list-style: none;
}

.nav-admin ul li a {
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    color:rgb(47, 92, 187);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s
}

.nav-admin ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-admin ul li a:hover:before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-admin ul li a:hover {
    color: #262626;
}

section.section2 {
    margin-left: 18%;
    margin-top: 8%;
    margin-right: 2%;
    
}
.thongke-contain{
    width: 23%;
    height: auto;
    border: 1px solid black;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px;
    .text-thongke{
        font-weight: 600;
        font-size: xx-large;
    }
    background-color: aqua;
    
}
.Adminchart {
    margin-top: 100px;
    padding-top: 200px;
}
.nav-text-top{
    padding-top: 30px;
    margin-right: 30px;
    font-size: large;
        color: #326abe;
        cursor: pointer;
}
.nav-text{
   font-size: x-large;
    color: #520cf7;
    cursor: pointer;
}
.div-left{
    margin-top: 100px;
    margin-left: 10px;
}

#dropdown{
    margin: 1px;
    text-align: center;
    color: #fff;
    .avata {
        margin-top: 20px;
            width: 35px;
            aspect-ratio: auto 35 / 35;
            height: 35px;
            vertical-align: middle;
            border-style: none;
            border-radius: 50%;
            float: left;
        }

}
.form-admin{
    .img-profile
    {
        width: 400px;
        height: 100%;
        float: left;
        
    }
        .profile-admin {
            width: 300px;
            height: 300px;
            border-radius: 30px;
        }
    
        .btn-adprofile {
            text-align: center;
            margin: 30px 10px;
            background-color: coral;
        }
    
}
.table{
    
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
    .th{
        font-weight: 600;
    }
}
.th {
    font-weight: 600;
}
.detail{
    background-color: rgb(147, 197, 197);
    border-radius: 10px;
    
}
.btn-detail {
    width: 15%;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1)100%);
    border: none;
    color: wheat;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
