body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(105, 104, 41, 0.4);
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

nav .brand {
    float: left;
    height: 100%;
    line-height: 80px;
}

nav .brand h2 {
    margin: 20px;
    padding: 0;
    color: blue;
}


nav ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    color:rgb(47, 92, 187);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s;
}

nav ul li a:hover:before {
    transform-origin: left;
    transform: scaleX(1);
}

nav ul li a:hover {
    color: #262626;
}

section.section2 {
    margin-left: 8%;
    margin-top: 8%;
    margin-right: 2%;
}
.thongke-contain{
    width: 23%;
    height: auto;
    border: 1px solid black;
    float: left;
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px;
    .text-thongke{
        font-weight: 600;
        font-size: xx-large;
    }
    background-color: aqua;
}
.nav-text{
   font-size: x-large;
    color: #520cf7;
}
.div-left{
    margin-top: 100px;
    margin-left: 10px;
}
.section2{
   padding-left: 12%;
}

#dropdown{
    margin: -8px;
    text-align: center;
    color: #fff;
    .avata {
        margin-top: 30px;
            width: 35px;
            aspect-ratio: auto 35 / 35;
            height: 35px;
            vertical-align: middle;
            border-style: none;
            border-radius: 50%;
            float: left;
        }

}