.register-background {
    background: linear-gradient(135deg,rgba(253, 187, 45, 1)0%, rgba(34, 193, 195, 1) 100%);
    height: 100vh;

    .login-container {
        width: 400px;
        margin: auto;
        position: absolute;
        border-radius: 10px;
        border: 1px solid black;
        background-color: white;
        font-weight: 600;
        height: 550px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        .login-contain {
            padding: 50px;

            .text-login {
                text-align: center;
                font-size: 240;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .input-login {
                margin: 7px 0;
            }

            .btn-login {
                width: 50%;
                margin: 10px 0;
                border-radius: 10px;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1)100%);
                border: none;
                color: wheat;
            }
            .err{
                font-size: 11px;
            }
        }
    }
}